nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: rgb(67, 67, 67);
  width: 100%;
  margin-bottom: 30px;
  gap: 32px;
}

nav > a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

img {
  width: 45px;
}